* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container{
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: row-reverse;
}

main{
    background-color: rgb(197, 197, 197);
    width: 70%;
    display: flex;    
    flex-direction: column;
}


button{    
    padding: 0.7rem;
    font-weight: bold;
    background-color: gray;
    border-style: none;
    border-radius: 5px;
    order: 1;
}

.logo{
    background-color: rgb(145, 137, 137);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    order: 2;
}

.right{
    background-color: #1F577F;
    width: 30%;
    flex: 1 3 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.banner{
    background-color: rgb(255, 255, 255);
    padding: 1.5rem 5rem;
    align-self: flex-start;
    margin: top;
}

.content{
    background-color: rgb(255, 255, 255);
    padding: 5rem 0 5rem 0;
    flex: 1 1 400px;
}

.search{
    display: flex;    
}

input{
    border-style: none;
    font-weight: bold;    
    padding: 20px 20px;
    background-color: transparent;
    
}

input::placeholder{
    color: black;
}

.left{
    background-color: rgb(241, 241, 241);
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 5px;
    align-items: center;
    flex: 0 2 100px;
}

@media screen and (max-width: 768px) {
    .container{        
        flex-direction: column;
        
    }
    .right{
        display: none;
    }
    .left{
        flex: 0 1 30px;
        width: 100%;
        flex-direction: row;
        background-color: white;
    }
    .content{        
        flex: 1 1 100vh;
        position: relative;
    }

    .logo{
        position: absolute;
        bottom: 0;        
        right: 0;
        margin: 30px;
    }

    button{
        position: absolute;
        top: 0;
        margin: 20px 10px;
    }

    main{
        width: 100%;
        order: 2;
    }

    hr{display: none;}

    
      
}

